#nintendoLogo {
  width: 100px;
  height: 50px;
}

#battleLinkPig {
  width: 500px;
  height: 250px;
}

#sword{
  width: 500px;
  height: 250px;
}


#battlefield{
  width: 600px;
  height: 600px;
}


#linkControl{
  width: 300px;
  height: 500px;
}

#game{
  width: 800px;
  height: 500px;
}