@import url('https://fonts.cdnfonts.com/css/stars-dream');
@import url('https://fonts.cdnfonts.com/css/pink-fresh');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Lexend+Deca:wght@100..900&display=swap');


/*QRCODE*/

*{  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  border: 0;
  padding: 0;}



#qrCodeSection{
  display: flex;
  flex-direction: column;
  background-image: url("https://pbs.twimg.com/media/GdiWBzqXQAIBeYa?format=jpg&name=large");
  width: 1495px;
  height: 808px;


  #nintendoLogo {
    margin-left: 80px;
    margin-top: 20px;
    width: 205px;
    height: 70px;
  }

  #qrCodeSection2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  #qrCodeSection3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #gameTitle{
    width: 400px;
    height: 200px;

  }

  #qrCodeSection4{
    font-family: 'Pink Fresh', sans-serif;
    color: aliceblue;
    font-size: 50px;
    font-style: bold;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #battleLinkPig {
    width: 650px;
    height: 350px;
  }
}


#sword-screen{
  display: flex;
  flex-direction: column;
  background-image: url("https://pbs.twimg.com/media/GdiklRpXUAAmAXv?format=jpg&name=large");
  width: 1495px;
  height: 808px;
  font-family: 'Pink Fresh', sans-serif;
  color: aliceblue;
  font-size: 34px;
  font-style: bold;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;


  #sword{
    width: 500px;
    height: 500px;
  }





}


#instructionsScreen{
  display: flex;
  flex-direction: row;
  background-image: url("https://pbs.twimg.com/media/Gdil583XQAAQXVQ?format=jpg&name=large");
  width: 1495px;
  height: 808px;
  font-family: 'Pink Fresh', sans-serif;
  color: aliceblue;
  font-size: 34px;
  font-style: bold;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  #instructions {
    margin-top: 70px;
    display: flex;
    flex-direction: row; /* Alinea las secciones en fila (horizontalmente) */
    gap: 20px; /* Espacio entre secciones */
  }

  /* Opcional: Estilo de las secciones */
  #instructionsSection, #instructions section {
    text-align: center; /* Centra texto e imágenes dentro de cada sección */
    flex: 1; /* Hace que las secciones ocupen el mismo espacio */
  }

  /* Opcional: Imágenes */
  #instructions img {
    max-width: 400px; /* Ajusta el tamaño máximo de las imágenes */
    height: auto;
  }



  #allSetSection{
    display: flex;
    flex-direction: column;
    background-image: url("https://pbs.twimg.com/media/Gdil583XQAAQXVQ?format=jpg&name=large");
    width: 1495px;
    height: 808px;
    font-family: 'Pink Fresh', sans-serif;
    color: aliceblue;
    font-size: 64px;
    font-style: bold;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

#secciongrande{

  background-image: url("https://pbs.twimg.com/media/Gdil583XQAAQXVQ?format=jpg&name=large");
  width: 1495px;
  height: 808px;
}


#howToSection{
  display: flex;
  flex-direction: row;
  background-image: url("https://pbs.twimg.com/media/Gdil583XQAAQXVQ?format=jpg&name=large");
  width: 1495px;
  height: 808px;
  font-family: 'Pink Fresh', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#howToSection1{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  font-family: 'Pink Fresh', sans-serif;
  color: aliceblue;
  font-size: 34px;
  font-style: bold;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 50px;
}

#howtoplayh1{
  font-size: 64px;
  font-style: bold;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

#howtoplayp{
  font-size: 30px;
  font-style: regular;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

#battleLinkPigHOW {
  width: 550px;
  height: 550px;
}

#battlefield{
  width: 700px;
  height: 800px;
}


#linkControl{
  width: 300px;
  height: 500px;
}

#game{
  width: 800px;
  height: 500px;
}


#howToSection{
  display: flex;
  flex-direction: row;
}

#intructions{
  display: flex;
  flex-direction: row;
}